body{
    margin: 0;
    background-color: white;
}
*{
    box-sizing: border-box;
}
#container {
    margin: 0px auto;
    background-color: white;
    width: 100%;
    height: 700px;
}
.row{
    float: left;
    width: 100%;
    margin: 10px ;
}
.header{
    height: 80px;
    width: 85%;
    background-color: white;
    margin-top: 0;
    display: flex;
    justify-content: center;
    float: left;
    border-top: 3px ridge black;
}
.text{
    float: left;   
    margin: 0;
   height: 80px;
   border-top: 3px ridge black;
}
.text h2{
    font-weight: 100px;
    font-size: 50px;
    color: #f1c40f;
    float: left;
    margin-top: 5%;
}
ul {
    list-style-type: none;
    margin-top: -1px;
    padding: 10px;
    float: left;
  }
  
  li {
    float: left;
    margin-right: 30px;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  li a:hover {
    background-color: #6ab04c;
  }
.background{
    width: 100%;
    background-image: url(https://drscdn.500px.org/photo/96827035/m%3D900/v2?sig=0d31ca5d00acecda76ce1acba70cd1fc0c936fbf4332a0f7e213bc7d9f297113);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    margin-top: -2%;
}
.background .write{
    color: white;
    margin: auto;
    font-size: 30px;
}
.background .write h1{
    text-align: center;
    justify-content: center;
}
.background .write .fixed{
    text-align: center;
    justify-content: center;
    padding: 0 100px;
}
.menu{
    width: 100%;
    height: 700px;
    margin-top: -1%;
}
.task{
    width: 100%;
    height: 700px;
    float: left;
    margin-top: 20px;
}
.task .food{
    float: left;
    width: 100%;
}
.task .food .square{
    float: left;
    width: 18%;
    height: 200px;
    background-color: #6ab04c;
    margin-right: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.task .food .square .pic{
    width: 100%;
    height: 70%;
}
.task .food .square .test{
    width: 100%;
    margin-bottom: 80%;
    background-color:burlywood;
}
.task .food .square .test h3{
    margin: 5px 0;
}
.task .food .square .test .okk{
    float: left;
    margin-top: 10px;
    margin-right: 5px;
    padding-right: 3px;
}
.task .food .square .pic.a{
    background-image: url(https://drscdn.500px.org/photo/66151661/m%3D900/v2?sig=b2bbcb2c823c2d6ebc149376bb53ebc203846f0a0282bbaf324cb805d8cb81f6);
    background-size: cover;
    background-repeat: no-repeat;
}
.task .food .square .pic.b{
    background-image: url(https://images.unsplash.com/photo-1501535033-a594139be346?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8Mnx8fGVufDB8fHx8&w=1000&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}
.task .food .square .pic.c{
    background-image: url(https://image.shutterstock.com/image-photo/mountaineer-swiss-alps-260nw-1835723413.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.task .food .square .pic.d{
    background-image: url(https://static.toiimg.com/photo/33499197.cms);
    background-size: cover;
    background-repeat: no-repeat;
}
.task .food .square .pic.e{
    background-image: url(https://drscdn.500px.org/photo/84262239/m%3D900/v2?sig=23e277d7f86f7df6767b2b431840cfbba0aeefd5e70464ce914bf940a937ebc9);
    background-size: cover;
    background-repeat: no-repeat;
}
