body{
    margin: 0 auto;
}
.row{
    float: left;
    width: 100%;
}
header{
    background-color: #3498db;
    min-height: 100px;
}
nav{
    background-color: red;
    min-height: 60px;
    float: left;
}
#three{
    background-color: #0652DD;
    min-height:200px;
    width: 90%;
    float: left
}
.left{
    float:left;
    min-width: 10%;
}
#four{
    background-color: #12CBC4;
    min-height: 100px;
}
#five{
    background-color: #6F1E51;
    min-height: 100PX;
    width: 100%;
}
article{
    float: left;
    width:85%;
    min-height: 150px;
    background-color:#f1c40f; 
}
aside{
    background-color: #C4E538;
    float: left;
    width: 15%;
    min-height: 150px;
}
footer{
    background-color: #2980b9;
    min-height: 140px;
}