body{
    margin: 0 auto;
}
.row{
    float: left;
    width: 100%;
}
header{
    background-color: #3498db;
    min-height: 155px;
}
nav{
    background-color: red;
    min-height: 60px;
}
article{
    float: left;
    width:15%;
    min-height: 300px;
    background-color:#f1c40f; 
}
aside{
    background-color: #C4E538;
    float: left;
    width: 85%;
    min-height: 300px;
}
footer{
    background-color: #2980b9;
    min-height: 140px;
}